*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body{
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   color:black;
   text-align: center;
   font-family: Arial, sans-serif;
}
contain{
    width: 300px;
    padding:30px;
    height: 400px;
    background: rgba(213, 77, 77, 0.05);
    border-radius: 10px;
    margin-left: 36%;
    margin-top: 6%;
    text-align: center;
    color:black; 
}
.contain h1{
    color: #284e6e;
    font-size: 35px;
    margin-bottom: 20px;
}
.contain .text{
    position: relative;
    top: 7%;

}
.inp1{
    background-color:white;
    width:100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size:20px ;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 5px;
}
.inp2{
    background-color:white;
    width:100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size:20px ;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 5px;
    
}
 .text button{
    width:100%;
    height: 40px;
    padding: 10px;
    background-color: #284e6e;
    color:white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;

}
button:hover{
    border:3px solid #284e6e;
    color: white;
    font-size: 20px;
    background-color:black;
    
}
P{
    margin-top: 20px;
    font-size: 20px;
}
p span{
    color:#284e6e;
    cursor: pointer;
}

